

.contenido{
    display: flex;
    flex-direction: row;
}

.contenido__izquierda{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    max-width: 200px;
    max-height: 200px;
    

}

.contenido__logo{
    max-height: 150px;
}

.contenido__header{
    color: #0A3871;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0rem 0rem 1.5rem 0rem;
}

.contenido__central{
    display: flex;
    flex-direction: column;
    padding: 0% 0% 0% 0px;
}

.contenido__input{
    color: #0A3871;
    width: 600px;
    height: 100px;
}

.contenido__advertencia{
    font-size: 1rem;
}

.contenido__button{
    padding: 5px 15px 5px 15px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.contenido__footer{
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #900606;
    font-weight: 600;
    font-size: 1.2rem;
    color: #000000;
}