

.contenido{
    display: flex;
    flex-direction: row;
    padding: 10% 10% 10% 10%;
}

.contenido__titulo{
    color: #0A3871;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1rem;
    font-weight: 1.5;
}